
@import vars
@import colors

[v-cloak]
  opacity: 0
  
.action
  cursor: pointer

.favicon
  width: 16px
  height: 16px
a
  text-decoration: none
  color: var(--text)


.input
  font-size: 1rem
  margin: 0
  padding: 6px 10px
  background: var(--white) padding-box
  border: 1px solid currentcolor
  border-radius: 3px
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2)
  &:focus
    border-color: var(--Blue50)

input[type=text]
  color: inherit
  unicode-bidi: plaintext

.key
  color: var(--Blue60)
  border: 1px solid var(--Blue60)
  font-weight: 600
  border-radius: 2px
  padding: 3px 5px

h1
  font-weight: normal
  font-size: 24px
  color: var(--text2)

h2
  color: var(--Grey60)
h3
  font-weight: normal
  font-size: 12px
  color: var(--text2)
  border-bottom: 1px solid var(--border)
  text-transform: uppercase

.row
  display: flex

.flex-1
  flex: 1

.ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  word-break: keep-all


.button
  display: inline-block
  padding: .3em .5em
  border-radius: 2px
  background: var(--Blue60)
  color: var(--Grey10)
  font-weight: 600
  text-transform: uppercase
  cursor: pointer
  &:hover
    background: var(--Blue70)
  &:focus, &:active
    background: var(--Blue80)
  .icon
    margin: 0
    path
      fill: var(--Grey10)
      
@import icon-button