@import colors

*
  box-sizing: border-box
html
  font-size: medium
  font: message-box

body
  background: $Grey10
  color: $text
  margin: 0
  padding: 0

.main, .settings
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0

.main
  display: flex
  flex-direction: column

  .head
    //background: #EAEAEA
    background: #fff
    border-bottom: 1px solid $border
    padding: 1rem 0
    margin-bottom: 0.5rem
    //box-shadow: 0 4px 15px -10px rgba(#000, .1)

  .results
    flex: 1
    overflow-y: scroll
  .suggestions
    height: 1rem
    background: #fff
    overflow-y: hidden

.content
  width: 80%
  margin: 0 auto